covidtweets.iml
json-simple-1.1.1.jar
.idea/
.DS_Store
lib/
src/.DS_Store
src/edu/.DS_Store
src/edu/upenn/.DS_Store
src/edu/upenn/cit594/.DS_Store
properties.csv
covid_data.csv
covid_data.json
downsampled_properties.csv
population.csv
quirky_props.csv
signoff_template.txt
tricky.csv
out/
activities.test.log.txt
log.txt
small_test1.log
speed_test.log